Options -Indexes
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
<FilesMatch "(\.env|\.git|composer\.json|composer\.lock)">
    Order allow,deny
    Deny from all
</FilesMatch>
